<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<html lang="en">


<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>


    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.1.0/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/font-awesome/5.1.0/css/all.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/adminpage.css}"/>

    <title>Dashboard</title>
</head>
<body>

<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">
        <img th:src="@{/img/logo-no-text.png}" width="30" height="30" class="d-inline-block align-top" alt="">
        <span class="text-white">Primavera</span>
    </a>

    <div sec:authorize="isAuthenticated()">
        <ul class="navbar-nav px-3">
            <li class="nav-item text-nowrap">
                <a class="text-white" th:href="@{/auth_logout}">Logout</a>
            </li>
        </ul>
    </div>

    <div sec:authorize="!isAuthenticated()">
        <ul class="navbar-nav px-3">
            <li class="nav-item text-nowrap">
                <a class="text-white" th:href="@{/login}">Sign in</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <nav class="col-md-2 d-none d-md-block sidebar">
            <div class="sidebar-sticky">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/admin/orders}">
                            <span class="fas fa-cart-plus"></span>
                            Orders
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/admin/products}">
                            <span class="fas fa-store"></span>
                            Products
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/admin/customers}">
                            <span class="fas fa-user"></span>
                            Customers
                        </a>
                    </li>
                </ul>
            </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">

                <table class="table table-dark">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Brand</th>
                        <th scope="col">Category</th>
                        <th scope="col">Price</th>
                        <th scope="col">Availability</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="product : ${productList}">
                        <th th:text="${product.id}" th:href="@{/shop/product(productId = ${product.id})}"
                            scope="row"></th>
                        <td th:text="${product.name}"></td>
                        <td th:text="${product.brand}"></td>
                        <td th:text="${product.category.name}"></td>
                        <td th:text="${product.price}"></td>
                        <td th:text="${product.availability}"></td>
                    </tr>

                    </tbody>
                </table>
            </div>
        </main>
    </div>
</div>


<script type="text/javascript" th:src="@{/webjars/jquery/3.2.1/jquery.min.js/}"></script>
<script type="text/javascript" th:src="@{/webjars/bootstrap/4.1.0/js/bootstrap.min.js}"></script>

</body>