<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>


    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.1.0/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/font-awesome/5.1.0/css/all.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>

    <title>Primavera</title>
</head>
<body>


<div class="container-fluid text-center">
    <img class="img-fluid w-25 h-25" th:src="@{/img/landinglogo1.png}"/>
</div>

<div class="container-fluid text-center">

    <a href="/" th:href="@{/login}" class="btn btn-info btn-lg">
        <span class="fas fa-sign-in-alt"></span> Log in
    </a>


    <a href="/" th:href="@{/register}" class="btn btn-info btn-lg">
        <span class="fas fa-user-plus"></span> Register
    </a>
</div>

<script type="text/javascript" th:src="@{/webjars/jquery/3.2.1/jquery.min.js/}"></script>
<script type="text/javascript" th:src="@{/webjars/bootstrap/4.1.0/js/bootstrap.min.js}"></script>

</body>
</html>