<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>


    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.1.0/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/font-awesome/5.1.0/css/all.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/shoppage.css}"/>

    <title>Shop</title>
</head>
<body>
<nav class="navbar sticky-top navbar-light bg-dark">
    <a class="navbar-brand" href="#">
        <img th:src="@{/img/logo-no-text.png}" width="30" height="30" class="d-inline-block align-top" alt="">
        <span class="text-white">Primavera</span>
    </a>

    <div sec:authorize="isAuthenticated()">
        <a class="text-white" th:href="@{/auth_logout}">Logout</a>
    </div>
    <div sec:authorize="!isAuthenticated()">
        <a class="text-white" th:href="@{/login}">Login</a>
    </div>
</nav>

<!-- show rows -->
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="row">
                <div th:each="product : ${productList}" class="col-lg-4 col-md-6 mb-4">
                    <div class="card h-100">
                        <a href="#"><img class="card-img-top" th:src="@{/img/hook-placeholder.jpg}" alt=""></a>
                        <div class="card-body">
                            <h4 class="card-title">
                                <a href="#" th:text="${product.name}"></a>
                            </h4>
                            <h5 th:text="${product.price}"></h5>
                            <p class="card-text" th:text="${product.description}"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" th:src="@{/webjars/jquery/3.2.1/jquery.min.js/}"></script>
<script type="text/javascript" th:src="@{/webjars/bootstrap/4.1.0/js/bootstrap.min.js}"></script>

</body>
</html>