<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<html lang="en">

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>


    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.1.0/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/font-awesome/5.1.0/css/all.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/shoppage.css}"/>

    <title>Shop</title>
</head>
<body>
<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">
        <img th:src="@{/img/logo-no-text.png}" width="30" height="30" class="d-inline-block align-top" alt="">
        <span class="text-white">Primavera</span>
    </a>

    <div sec:authorize="isAuthenticated()">
        <ul class="navbar-nav px-3">
            <li class="nav-item text-nowrap">
                <a class="text-white" th:href="@{/auth_logout}">Logout</a>
            </li>
        </ul>
    </div>

    <div sec:authorize="!isAuthenticated()">
        <ul class="navbar-nav px-3">
            <li class="nav-item text-nowrap">
                <a class="text-white" th:href="@{/login}">Sign in</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <nav class="col-md-2 d-none d-md-block sidebar">
            <div class="sidebar-sticky">

                <nav class="nav flex-column">
                    <ul class="nav flex-column">
                        <a class="nav-link" th:href="@{/shop/}">
                            <i class="fas fa-circle bullet"></i>
                            <span>All Products</span>
                        </a>
                        <li th:each="category : ${categoryList}" class="nav-item">
                            <a class="nav-link ml-3 my-1" th:href="@{/shop/sortBy(categoryId=${category.getId()})}">
                                <i class="fas fa-dot-circle bullet"></i>
                                <span th:text="${category.getName()}"></span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a class="breadcrumb-shop" th:href="@{/shop/}">Shop</a></li>
                    <li th:if="${param.categoryId != null}" class="breadcrumb-item font-weight-bold">
                        <a th:text="${product.category.name}"></a>
                    </li>
                    <li th:if="${param.productId != null}" class="breadcrumb-item font-weight-bold">
                        <a th:text="${product.name}"></a>
                    </li>
                </ol>
            </nav>


        </main>
    </div>
</div>


<script type="text/javascript" th:src="@{/webjars/jquery/3.2.1/jquery.min.js/}"></script>
<script type="text/javascript" th:src="@{/webjars/bootstrap/4.1.0/js/bootstrap.min.js}"></script>

</body>
</html>